In [27]:
import pandas as pd
import matplotlib.pyplot as plt
# https://www.kaggle.com/fedesoriano/heart-failure-prediction
df = pd.read_csv("heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [28]:
df.shape

(918, 12)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [30]:
df.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [31]:
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

# Check Outliers

In [32]:
#Cholesterol

df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [33]:
df.shape

(918, 12)

In [34]:
df_1= df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df_1.shape

(3, 12)

In [35]:
df1 = df[df.Cholesterol <= (df.Cholesterol.mean()+3*df.Cholesterol.std())]
df1.shape

(915, 12)

In [36]:
#RestingBP

df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [37]:
df_2 = df[df.RestingBP > (df.RestingBP.mean()+3*df.RestingBP.std())]
df_2.shape

(7, 12)

In [38]:
df2 = df[df.RestingBP <= (df.RestingBP.mean()+3*df.RestingBP.std())]
df2.shape

(911, 12)

In [39]:
#FastingBS

df[df.FastingBS>(df.FastingBS.mean()+3*df.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [40]:
#MaxHR

df[df.MaxHR>(df.MaxHR.mean()+3*df.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [41]:
#Oldpeak

df[df.Oldpeak>(df.Oldpeak.mean()+3*df.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [42]:
df_3 = df[df.Oldpeak > (df.Oldpeak.mean()+3*df.Oldpeak.std())]
df_3.shape

(6, 12)

In [43]:
df3 = df[df.Oldpeak <= (df.Oldpeak.mean()+3*df.Oldpeak.std())]
df3.shape

(912, 12)

In [45]:
import seaborn as sns

# ONE HOT ENCODING

In [19]:
df.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [20]:
df.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [21]:
df.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [22]:
df.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [23]:
df4 = df2.copy()
df4.ChestPainType.replace(
    {
        'ATA' :0, 'NAP' :1, 'ASY' :2, 'TA':3
    },
    inplace=True)

df4.ExerciseAngina.replace(
    {
        'N': 0,
        'Y': 1
    },
    inplace=True)

df4.ST_Slope.replace(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    },
    inplace=True
)

df4.RestingECG.replace(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    },
    inplace=True)

df4.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,0,140,289,0,1,172,0,0.0,3,0
1,49,F,1,160,180,0,1,156,0,1.0,2,1
2,37,M,0,130,283,0,2,98,0,0.0,3,0
3,48,F,2,138,214,0,1,108,1,1.5,2,1
4,54,M,1,150,195,0,1,122,0,0.0,3,0

In [55]:
df4.shape

(911, 12)

In [53]:
# df['HeartDisease']=df['HeartDisease'].astype('category') #To convert target class into category

# for i, col in enumerate(df.columns):
#     plt.figure(i,figsize=(8,4))
#     sns.boxplot(x=df['HeartDisease'], y=col, df=df, palette="coolwarm")

# Get Dummies Data

In [54]:
df5 = pd.get_dummies(df4, drop_first=True)
df5.head()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M
0,40,0,140,289,0,1,172,0,0.0,3,0,1
1,49,1,160,180,0,1,156,0,1.0,2,1,0
2,37,0,130,283,0,2,98,0,0.0,3,0,1
3,48,2,138,214,0,1,108,1,1.5,2,1,0
4,54,1,150,195,0,1,122,0,0.0,3,0,1

In [56]:
df5.shape

(911, 12)

# SCALLING

In [57]:
X = df5.drop("HeartDisease",axis='columns')
X.head()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M
0,40,0,140,289,0,1,172,0,0.0,3,1
1,49,1,160,180,0,1,156,0,1.0,2,0
2,37,0,130,283,0,2,98,0,0.0,3,1
3,48,2,138,214,0,1,108,1,1.5,2,0
4,54,1,150,195,0,1,122,0,0.0,3,1

In [58]:
y = df5.HeartDisease
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 911, dtype: int64

In [59]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42985002, -1.70778583,  0.45700344, ..., -0.83221558,
         1.05121669,  0.51505124],
       [-0.47626776, -0.53271567,  1.58649378, ...,  0.10888223,
        -0.60277019, -1.94155441],
       [-1.74771078, -1.70778583, -0.10774172, ..., -0.83221558,
         1.05121669,  0.51505124],
       ...,
       [ 0.37136092,  0.64235449, -0.10774172, ...,  0.29710179,
        -0.60277019,  0.51505124],
       [ 0.37136092, -1.70778583, -0.10774172, ..., -0.83221558,
        -0.60277019, -1.94155441],
       [-1.64175719, -0.53271567,  0.34405441, ..., -0.83221558,
         1.05121669,  0.51505124]])

In [60]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=30)

In [61]:
X_train.shape

(728, 11)

In [62]:
X_test.shape

(183, 11)

In [63]:
y_train.shape

(728,)

In [64]:
y_test.shape

(183,)

In [67]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train, y_train)
model_rf.score(X_test, y_test)

0.912568306010929

# Use PCA to reduce dimensions

In [68]:
X

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M
0,40,0,140,289,0,1,172,0,0.0,3,1
1,49,1,160,180,0,1,156,0,1.0,2,0
2,37,0,130,283,0,2,98,0,0.0,3,1
3,48,2,138,214,0,1,108,1,1.5,2,0
4,54,1,150,195,0,1,122,0,0.0,3,1
...,...,...,...,...,...,...,...,...,...,...,...
913,45,3,110,264,0,1,132,0,1.2,2,1
914,68,2,144,193,1,1,141,0,3.4,2,1
915,57,2,130,131,0,1,115,1,1.2,2,1
916,57,0,130,236,0,3,174,0,0.0,2,0
917,38,1,138,175,0,1,173,0,0.0,3,1

In [74]:
from sklearn.decomposition import PCA

pca = PCA(0.95)
#pca = PCA(n_components =2)
X_pca = pca.fit_transform(X)
X_pca

array([[ 92.18485265, -29.72308857],
       [-17.23735321, -14.24876303],
       [ 81.85352092,  38.45538563],
       ...,
       [-69.08138744,  17.65410933],
       [ 39.07153596, -33.61177061],
       [-21.57346905, -37.37572886]])

In [75]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=42)

In [78]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train_pca, y_train)
model_rf.score(X_test_pca, y_test)

0.7377049180327869